.head {
    cursor: pointer;
  }
  .head .logo img {
    width: 100px;
    position: relative;
    left: 640%;
  }
  .ad{
    width: 100;
    height: 40;color: #000;
    margin-left: 40px;
  }
  header {
    background-color: #000;
    color: #fff;
  }
  header li {
    margin-right: 30px;
    transition: 0.5s;
  }
  header li .buttonDiv {
    position: absolute;
    right: 10px;
  }
  .buttonLogin {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #232020;
    font-size: 12px;
    background: #ddd7d7;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .buttonLogin:hover {
    background: #777b7d;
    text-decoration: none;
  }
    

  header li a:hover {
    color: crimson;
    cursor: pointer;
  }
  header a {
    color: #fff;
  }
  .barIcon {
    font-size: 25px;
    background: none;
    color: #fff;
    display: none;
    border: none;
  }
  @media screen and (max-width: 768px) {
    .head .logo img {
      width: 120px;
      position: relative;
      left: 230%;
    }
    .head .ad {
      display: none;
    }
    header .icon {
      display: none;
    }
    header .flex {
      display: none;
    }
    .barIcon {
      display: block;
    }
    header .navbar {
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: #fb4c35;
      left: 0;
      top: 21%;
      transition: 0.5s;
      width: 100%;
      height: 45vh;
      z-index: 5;
      padding: 30px;
    }
    header .navbar {
      display: flex;
      flex-direction: column;
      margin-top: -5px;
      margin-bottom: 25px;
      min-height: 400px;
    }
    header .navbar .buttonDiv {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    header ul li {
      margin-bottom: 25px;
    }
  }